<div *ngIf="item">
  <h2>{{item.name | uppercase}} Details</h2>
  <div><span>id: </span>{{item.id}}</div>
  <div>
    <label for="item-name">Item name: </label>
    <input id="item-name" [(ngModel)]="item.name" placeholder="Item name"/>
  </div>
  <div>
    <label for="item-price">Item price: </label>
    <input type="number" id="item-price" [(ngModel)]="item.price" placeholder="Item price"/>
  </div>
  <div>
    <label for="item-type">Item type: </label>
    <input id="item-type" [(ngModel)]="item.type" placeholder="Item type"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
